
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pdb

venv/
.env/
env/
.venv/
*.env
.env

*.log
Databases/
!Databases/README.md  # keep doc files if you ever add them

Depreciated/
Helper/**/*.pyc
Helper/**/*.log
Helper/**/__pycache__/
Helper/tokens.txt  # sensitive file
Helper/requirements.txt

Songs/**/music/
Songs/**/vocals/
Songs/**/instrumental/
Songs/**/alt/
Songs/**/lyrics/*.lyc
Songs/**/alt_vocals.csv
Songs/name_cleanup.py

.vscode/
.idea/
*.iml
*.suo
*.user
*.db
*.sln
*.vcxproj
*.vcxproj.filters
Thumbs.db
.DS_Store

build/
dist/
*.egg-info/
*.spec
*.exe
*.dll

Helper/
.env
